.BtnFancy {
    background-color: #0091ea;
    color: white;
    border-radius: 25px;
    margin: 8px;
    width: 88%;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.FancyLabel {
    font-size: 13px;
}