.LoadingScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.ComingSoon {
    color: rgb(0, 146, 146);
    font-family: $NotoSans;
    font-size: 18px;
    z-index: 1;
}